.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  min-height: 300vh;
  height: fit-content;

  padding-top: 8rem;

  background-size: 20vw, 20vw;

  background-repeat: repeat-y;
}
