:root {
  --mix-base: rgb(0, 0, 0);
  --mix-900: var(--mix-base) 80%;
  --mix-800: var(--mix-base) 70%;
  --mix-700: var(--mix-base) 60%;
  --mix-600: var(--mix-base) 50%;
  --mix-400: var(--mix-base) 30%;
  --mix-300: var(--mix-base) 20%;
  --mix-200: var(--mix-base) 10%;
  --mix-100: var(--mix-base) 5%;

  --primary-900: color-mix(in srgb, var(--primary-500), var(--mix-900));
  --primary-800: color-mix(in srgb, var(--primary-500), var(--mix-800));
  --primary-700: color-mix(in srgb, var(--primary-500), var(--mix-700));
  --primary-600: color-mix(in srgb, var(--primary-500), var(--mix-600));
  --primary-500: #e9edc9;
  --primary-400: color-mix(in srgb, var(--primary-500), var(--mix-400));
  --primary-300: color-mix(in srgb, var(--primary-500), var(--mix-300));
  --primary-200: color-mix(in srgb, var(--primary-500), var(--mix-200));
  --primary-100: color-mix(in srgb, var(--primary-500), var(--mix-100));

  --primary-old: #8e0b11;
  --f: #1a1e21;

  --neutral-900: color-mix(in srgb, var(--neutral-500), var(--mix-900));
  --neutral-800: color-mix(in srgb, var(--neutral-500), var(--mix-800));
  --neutral-700: color-mix(in srgb, var(--neutral-500), var(--mix-700));
  --neutral-600: color-mix(in srgb, var(--neutral-500), var(--mix-600));
  --neutral-500: rgb(162, 140, 124);
  --neutral-400: color-mix(in srgb, var(--neutral-500), var(--mix-400));
  --neutral-300: color-mix(in srgb, var(--neutral-500), var(--mix-300));
  --neutral-200: color-mix(in srgb, var(--neutral-500), var(--mix-200));
  --neutral-100: color-mix(in srgb, var(--neutral-500), var(--mix-100));

  --elevation-1: 0 0.125rem 0.25rem color-mix(in srgb, var(--neutral-900), transparent 20%),
    0 0.125rem 0.5rem color-mix(in srgb, var(--neutral-900), transparent 20%);
}

@media (prefers-color-scheme: light) {
  :root {
    --mix-900: var(--mix-base) 10%;
    --mix-800: var(--mix-base) 17.5%;
    --mix-700: var(--mix-base) 27.5%;
    --mix-600: var(--mix-base) 40%;
    --mix-400: var(--mix-base) 60%;
    --mix-300: var(--mix-base) 70%;
    --mix-200: var(--mix-base) 80%;
    --mix-100: var(--mix-base) 90%;
  }
}

* {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--neutral-900);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: 'Dancing Script', sans-serif;
  letter-spacing: -0.0625rem;
}

p {
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.katex {
  font:
    normal 1rem 'Quicksand',
    sans-serif;
}

.katex-display {
  margin: 0.5rem 0;

  .katex {
    font-size: 1.25rem;
  }
}
