.dot-graph {
  --dot-graph-width: 20rem;
  --dot-graph-height: 20rem;

  width: var(--dot-graph-width);
  height: var(--dot-graph-height);

  max-width: 80vw;
  max-height: 90vh;

  position: relative;

  margin-right: 2rem;
  margin-top: 1.5rem;

  &__dot {
    position: absolute;
    bottom: var(--y);
    left: var(--x);

    width: 0.5rem;
    height: 0.5rem;

    border-radius: 50%;

    background-color: rgb(var(--primary-400));

    transform: translate(-50%, 50%);

    transition:
      bottom 0.5s,
      left 0.5s;
  }

  &__x-zero {
    position: absolute;
    top: 0;
    left: var(--x);

    width: 0.125rem;
    height: var(--dot-graph-height);

    max-height: 90vh;

    background-color: rgb(var(--neutral-50));

    transform: translate(-50%, 0);
  }

  &__y-zero {
    position: absolute;
    bottom: var(--y);
    left: 0;

    width: var(--dot-graph-width);
    height: 0.125rem;

    max-width: 80vw;

    background-color: rgb(var(--neutral-50));

    transform: translate(0, 50%);
  }

  &__x-label,
  &__y-label,
  &__x-max-label,
  &__y-max-label {
    font-size: 0.8rem;
    color: rgb(var(--neutral-50));

    position: absolute;
  }

  &__x-label {
    transform: translate(-0.25rem, 50%);
    bottom: var(--y);
    right: 0;
  }

  &__y-label {
    transform-origin: 0 0;
    transform: rotateZ(270deg) translate(calc(-100% + 0.25rem), calc(-100% - 0.25rem));
    top: 0;
    left: var(--x);
  }

  &__x-max-label {
    transform: translate(125%, 125%);
    right: 0;
    bottom: var(--y);
  }

  &__y-max-label {
    transform: translate(-50%, -200%);
    top: 0;
    left: var(--x);
  }

  &__line {
    // draw a line from --x --y to --x2 --y2 (variables defined in the HTML)

    position: absolute;
    bottom: var(--y);
    left: var(--x);

    width: var(--length);
    height: 0.125rem;

    background-color: rgba(var(--primary-400), 0.5);
    border-radius: 0.0625rem;

    transform-origin: 0 var(--y);
    transform: rotateZ(var(--angle)) translate(0, -50%);
  }
}
