// @prop --card-width: 20rem;
// @prop --card-height: 16rem;
// @prop --card-flex-direction: row;

.card {
  position: relative;
  display: flex;
  flex-direction: var(--card-flex-direction, row);
  background-color: var(--neutral-800);
  border-radius: 0.75rem;
  padding: 0.75rem;
  margin: 2px;
  box-sizing: border-box;

  // Make backgroundImage fit the card
  background-size: cover;

  width: var(--card-width, 20rem);
  max-width: 90vw;
  height: var(--card-height, 16rem);
  max-height: 40vh;

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    z-index: -1;

    background: var(--neutral-700);
    border-radius: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    inset: -1px;
    z-index: -1;

    border-radius: 0.75rem;
    overflow: hidden;

    background: radial-gradient(
      circle at calc(var(--mouse-x) * 1px) calc(var(--mouse-y) * 1px),
      color-mix(in srgb, var(--neutral-200), transparent 20%) 0,
      color-mix(in srgb, var(--neutral-300), transparent 50%) 7rem,
      color-mix(in srgb, var(--neutral-400), transparent 100%) 15rem
    );

    opacity: var(--show-card);

    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  &__glint {
    position: absolute;
    inset: 0;
    z-index: 1;

    pointer-events: none;

    border-radius: 0.75rem;

    background: radial-gradient(
      circle at calc(var(--mouse-x) * 1px) calc(var(--mouse-y) * 1px),
      color-mix(in srgb, var(--neutral-400), transparent 75%) 0%,
      color-mix(in srgb, var(--neutral-400), transparent 85%) 40%,
      color-mix(in srgb, var(--neutral-400), transparent 100%) 80%
    );

    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    .card__glint {
      opacity: var(--show-card);
    }
  }
}
