.birthday {
  --dot-size: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 8rem;
  margin-bottom: 2rem;

  &__calendar {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__input-sliders {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 25rem;
    width: 90vw;

    gap: 1rem;

    margin: 1rem 0 1.5rem 0;
  }

  &__input-slider {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    gap: 0.5rem;

    & p {
      margin: 0;
    }
  }

  &__dot-explainers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: fit-content;
  }

  &__dot-explainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;

    & p {
      margin: 0;
    }
  }

  &__graph {
    --dot-graph-width: 30rem;
    --dot-graph-height: 30rem;

    margin-left: 2.5rem;
  }

  &__calendar-and-graph {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1rem;

    @media (max-width: 64rem) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
