.birthday {
  --dot-size: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 8rem;
  margin-bottom: 2rem;

  & > p {
    max-width: min(40rem, 90vw);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    text-align: center;
  }

  & > p:first-of-type {
    margin-top: 0;
  }

  & > p:last-of-type {
    margin-bottom: 0;
  }

  &__card {
    --card-width: 30rem;
    --card-height: fit-content;
    --card-flex-direction: column;

    & > p {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    & > p:first-of-type {
      margin-top: 0;
    }

    & > p:last-of-type {
      margin-bottom: 0;
    }
  }

  &__divider {
    --divider-width: min(45rem, 92.5vw);
    --divider-margin: 2rem;
  }

  &__calendar {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__input-sliders {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 25rem;
    width: 90vw;

    gap: 1rem;

    margin: 1rem 0 1.5rem 0;
  }

  &__input-slider {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    gap: 0.5rem;

    & p {
      margin: 0;
    }
  }

  &__dot-explainers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: fit-content;
  }

  &__dot-explainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;

    & p {
      margin: 0;
    }
  }

  &__graph {
    --dot-graph-width: 30rem;
    --dot-graph-height: 30rem;

    margin-left: 2.5rem;
  }

  &__calendar-and-graph {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1rem;

    @media (max-width: 64rem) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}
