.floating-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  margin: 0;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  &__label {
    color: white;
    margin: 0;

    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  &__dot-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;

    &::before {
      position: absolute;
      content: '';

      left: 1rem;
      top: 1rem;

      width: 1.125rem;
      height: 1.125rem;

      border-color: transparent;
      border-width: 0px;
      border-style: solid;

      padding: 0.125rem;

      transform: translate(-50%, -50%) rotate(45deg);

      transition-property: border-color border-width;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }
  }

  &__dot {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1rem;
    height: 1rem;

    transform: rotate(45deg);

    transition-property: width height border-width border-color;
    transition-duration: 0.375s;
    transition-timing-function: ease-in-out;

    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--neutral-400));

    &::before {
      content: '';
      display: block;
      width: 0.375rem;
      height: 0.375rem;

      background-color: white;
      transition: transform 0.15s ease-in-out;
    }
  }

  &:hover {
    .floating-link__dot {
      width: 1.0625rem;
      height: 1.0625rem;

      border-width: 3px;
      border-color: rgb(var(--primary-600));

      &::before {
        transform: scale(0.7);
      }

      &::after {
        border-style: solid;
      }
    }

    .floating-link__label {
      color: rgb(var(--primary-500));
    }

    .floating-link__dot-wrapper::before {
      border-width: 1.5px;
      border-color: rgba(var(--primary-500), 0.6);
      transition-delay: 0.125s;
    }
  }
}
